
</br>
</br>
</br>
</br>

<div class="span6 offset4 smurfy text-center">

	<h1 class="custom-h1">
		Bet on your health
	</h1>

	<h2>
		Earn money by competing with your friends on who can eat best.
	</h2>

	<%= link_to 'Launch', '#', :class => 'btn btn-primary btn-large' %>

</div>